<li *ngIf="parent">
    <div *ngIf="adding">
        <form>
            <label> Nazwa: </label>
            <input type="text" required>
            <button type="submit" (click)="performAdd()">Dodaj</button>
        </form>
    </div>
    <div *ngIf="!adding" (click)="addClick()">
        +
    </div>
</li>
<div *ngIf="!parent">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div>
            <label> Nazwa: </label>
            <input type="text" required ngControl="name" #name="ngForm">
        </div>
        <div [hidden]="name.valid" class="alert alert-danger">
            Nazwa jest wymagana
        </div>
        <div>
            <label>Ojciec:</label>
            <select required>
            <option *ngFor="let n of nodesList" [value]="n">{{n.name}}</option>
        </select>
        </div>
        <button type="submit" [disabled]="!form.form.valid">Dodaj</button>
    </form>
</div>