<div *ngIf="adding">
    <li *ngIf="parent">
        <form (ngSubmit)="onSubmit()" #form_="ngForm">
            <div>
                <label> Nazwa: </label>
                <input type="text" required ngControl="name_" #name_="ngForm">
            </div>
            <div [hidden]="name_.valid" class="alert alert-danger">
                Nazwa jest wymagana
            </div>
            <button type="submit" [disabled]="!form_.form.valid">Dodaj</button>
        </form>
    </li>
    <div *ngIf="!parent">
        <form (ngSubmit)="onSubmit()" #form="ngForm">
            <div>
                <label> Nazwa: </label>
                <input type="text" required [(ngModel)]="nameInput" ngControl="name" #name="ngForm">
            </div>
            <div [hidden]="name.valid" class="alert alert-danger">
                Nazwa jest wymagana
            </div>
            <div>
                <label>Przypnij do:</label>
                <select required [(ngModel)]="select" (ngModelChange)="onChange()">
            <option *ngFor="let n of nodesList" [ngValue]="n">{{n.name}}</option>
        </select>
            </div>
            <button type="submit" [disabled]="!form.form.valid">Dodaj</button>
        </form>
    </div>
</div>
<div *ngIf="!adding" class="add-edit-div" (click)="addClick()">
    [Dodaj]
</div>